@import "color";
@import "font";

@for $i from 1 through 2 {
    h#{$i}{
      font-size: 50px -(5*$i);
      font-family: $fuente;
      padding: 4%;
      color: $rojo-diga;
    }
}

@for $i from 3 through 4 {
    h#{$i}{
      font-size: 40px -(5*$i);
      font-family: $fuente;
      padding: 4%;
      color: $azul-diga;
    }
}


@each $color in red ,blue {
    .color-#{$color}{
        color: $color;
        padding: 2%;
        border-top: solid 1px;
    }
}

$bordes:(
    titulo:5px 13px 23px grey,
    caja:7px 7px 15px yellow,
    sombra:7px 7px 15px green
);

@each $somb, $shadow in $bordes{
    .sombreado--#{$somb}{
        box-shadow:$shadow
    }
}


.cabecera{
    background-color:$rojo-diga!important;
 }

 .navbar-nav{
     justify-content: center;
 }
 

.futer{
    background-color:$backgroundColor;
    padding: 2%;
    padding-bottom: 0%;
        .futer__text{
            text-align: center;
        }
            .futer__redes{
                width: 5%;
            }
}

.form-presupuesto{
    padding-right: 4%;
    margin-top: 20%;
}
.form-pedido{
    padding-left: 4%;
    margin-top: 20%;
}


.cardprod__img{
    width: 62%;
    margin: 5%;
}

.card__parrafo{
    p{
        font-family: $fuente
    }
    h5{
        color:$azul-diga;
     }
}

.conteiner-padding{
    padding: 6%;
    box-shadow: 7px 7px 15px #592A08;
}

.nosotrosbody{

p{
    font-family: $fuente;
}
    h4{
        color: $azul-diga;
    }
        ul li{
            font-family: $fuente;
        }
}


.card{
    width: 80%;
}

.card:hover img{
    transform:scale(1.5);
}
.solapas{
    background-size: 1400px 600px;
    justify-content: center;
    padding-bottom: 14%;
    padding-top: 12%;
}

.bg-img-dis{
    background-image: url(../Assets/img/navproduc6.jpg);
    background-size: 1600px auto;
    margin-top: 2%;
    
}
.bg-img-estam{
    background-image: url(../Assets/img/navproduc3.jpg);
    background-size: 1600px auto;
    margin-top:2%;
}
.bg-img-inde{
    background-image: url(../Assets/img/navproduc2.jpg);
    background-size: 1600px auto;
    margin-top: 2%;
}
.navbar-light .navbar-brand{
    font-size: -webkit-xxx-large;
}

.text-muted{
    color: black;

}
.jumbo-index {
    background-image: url(../Assets/img/maquina-de-estampado-2.jpg);
    background-size: 1600px 400px;
}
.jumbo-nosotros{
    background-image: url(../Assets/img/test-de-luscher.jpg);
    background-size: 1600px 400px;
}
.jumbotron-promo{
    background-image: url(../Assets/img/remeraspord.jpeg);
    background-size: 1600px 400px;
}
.jumbotron-contacto{
    background-image: url(../Assets/img/maquina-de-estampado-1.jpg);
    background-size: 1600px 400px;
}


.jumbotron{
    width: 100%;
}

.jumbotron .text-muted {
    color: black!important;
}

.container-promo{
    text-align: end;
}



.padding-container{
    padding-left: 12%;
    padding-right: 12%;
}

.resaltar{
    color: $rojo-diga;
    font-size:xx-large;
}


@media (max-width: 768px){
    .cabecera {
        position: relative;
    }
}

@media (max-width: 768px){
    .solapas{
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 18%;
    }
    .navbar-light .navbar-brand{
        font-size: x-large;
    }
    .bg-light {
        padding-left: 12%;
        padding-right: 12%;
    }

}


.titulo{
    font-size: 35px;
}